{% extends 'base.html.twig' %}

{% block title %}  <title>Luxury Services recruitment & services</title>{% endblock %}

{% block body %}<body id="top">

<!-- Navigation -->
<!-- Navigation -->
<header id="header" class="tt-nav transparent-header ">
    <div class="header-sticky semi-transparent">
        <div class="container">

            <div id="materialize-menu" class="menuzord">

                <a class="brand logo-brand" href="/"></a>
                <div id="mobile-menu">
                    <div class="nav-wrapper" id="toggle">
                        <span class="top"></span>
                        <span class="middle"></span>
                        <span class="bottom"></span>
                    </div>
                    <div class="icon-wrapper">
                        <span class="account">
							<a href="/templates/auth/profile.html">
                                <i class="material-icons">&#xE7FD;</i>
                            </a>
						</span>
                    </div>
                    <div class="nav-overlay" id="overlay">
                        <nav class="overlay-menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/templates/jobs/index.html">Jobs Offers</a></li>
                                <li><a href="/templates/compagny.html">About Us</a></li>
                                <li><a href="/templates/contact.html">Contact</a></li>
                                <li>-</li>
                                <li><a href="/templates/auth/profile.html">Profile</a></li>
                                <li><a href="/logout.html">Logout</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="menuzord-menu pull-right light" role="navigation">
                        <li class=" dropdown">
                            <a target="_self" href="/templates/auth/login.html">
                                <span>Login</span>
                            </a>
                        </li>
                        <li class=" dropdown">
                            <a target="_self" href="/templates/auth/register.html" class="btn bn-lg gradient secondary btn-block waves-effect waves-light btn-register">
                                <span>Sign Up</span>
                            </a>

                        </li>
                    </ul>
                    <ul class="menuzord-menu pull-right light" role="navigation">
                        <li class="active dropdown">
                            <a target="_self" href="/">
                                <i class=""></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class=" dropdown">
                            <a target="_self" href="/templates/jobs/index.html">
                                <i class=""></i>
                                <span>Jobs offers</span>
                            </a>
                        </li>
                        <li class=" dropdown">
                            <a target="_self" href="/templates/compagny.html">
                                <i class=""></i>
                                <span>About us</span>
                            </a>
                        </li>
                        <li class=" dropdown">
                            <a target="_self" href="/templates/contact.html">
                                <i class=""></i>
                                <span>Contact</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="base">

    <!-- Page -->
    <div class="page">

        <!-- Page Header-->
        <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="white-text">Register</h2>
                        <span class="white-text">Welcome on board</span>
                        <ol class="breadcrumb">
                            <li><a href="#!">Home</a></li>
                            <li class="active">Register</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>


        <!-- Page Content-->
        <section class="section-padding gray-bg log-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 card card-panel">
                        <h3 class="text-extrabold">Create a new account</h3>
                        <form id="register-form" role="form" method="post" accept-char="UTF-8" autocomplete="off" data-parsley-validate>

                            <input type="hidden" name="_token" value="">

                            <div class="input-field">
                                <input type="email" name="email" id="email" value=""
                                       required
                                       data-parsley-trigger="change"
                                       data-parsley-error-message="A valid email address is required.">
                                <label for="email">Email</label>
                                <span class="help-block">Type your email address.</span>
                            </div>
                            <div class="input-field">
                                <input type="password" name="password" id="password" value=""
                                       required
                                       data-parsley-trigger="change"
                                       data-parsley-minlength="6"
                                       data-parsley-error-message="The password must be at least 6 characters.">
                                <label for="password">Password</label>
                                <i class="fa fa-eye show-password"></i>
                                <span class="help-block">Type your password.</span>
                            </div>
                            <div class="input-field">
                                <input type="password" name="password_confirmation" id="password_confirmation" value=""
                                       required
                                       data-parsley-trigger="change"
                                       data-parsley-equalto="#password"
                                       data-parsley-error-message="Password does not match.">
                                <label for="password_confirmation">Confirm Password</label>
                                <i class="fa fa-eye show-password"></i>
                                <span class="help-block">Confirm your password.</span>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" name="accept-terms" value="1" id="accept-terms" required/>
                                <label for="accept-terms">I have read and I accept the <a href="#!" target="_blank">Terms Of Use</a></label>
                            </div>

                            <button type="submit" class="btn btn-lg gradient secondary btn-block waves-effect waves-light mt-20 mb-20">Create an account</button>
                            <div class="links">
                                <a href="/login.html">Already have an account? Click here</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>

    </div>

</div>

<!-- Footer -->
<footer class="footer footer-four">
    <div class="primary-footer brand-bg text-center">
        <div class="container">

            <a href="#top" class="page-scroll btn-floating btn-large gradient secondary back-top waves-effect waves-light" data-section="#top">
                <i class="material-icons">&#xE316;</i>
            </a>

            <ul class="social-link tt-animate ltr mt-20">
                <li><a href="#!" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#!" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>

            <hr class="mt-10">

            <div class="row">
                <div class="col-md-12">
                    <div class="brand footer-brand"></div>

                    <span class="copy-text">© 2018 All right reserved - by <a href="https://idmkr.io/" target="_blank">IDMKR</a> - <a href="#!">Terms of use</a>

                    </span>
                    <div class="footer-intro">
                        <p>Luxury Services is a leading professional recruitment consultancy specialising in the recruitment of permanent, contract and temporary positions on behalf of the world’s top employers.</p>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.primary-footer -->

    <div class="secondary-footer brand-bg darken-2 text-center">
        <div class="container">
            <ul class="" role="navigation">
                <li class="active dropdown">
                    <a target="_self" href="/">
                        <span>Home</span>
                    </a>
                </li>
                <li class=" dropdown">
                    <a target="_self" href="/jobs.html">
                        <span>Jobs offers</span>
                    </a>
                </li>
                <li class=" dropdown">
                    <a target="_self" href="/about-us.html">
                        <span>About us</span>
                    </a>
                </li>
                <li class=" dropdown">
                    <a target="_self" href="/contact.html">
                        <span>Contact</span>
                    </a>
                </li>
            </ul>
        </div><!-- /.container -->
    </div><!-- /.secondary-footer -->
</footer>


<script type="text/javascript">

    onAppReady(function() {
        $('.preload').remove();
    });
</script>

</body>

{% endblock %}
